.navbar{
    background-color: var(--main-bg);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar p {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 16px;
}
.navbar ul{
    list-style: none;
}
.navbar ul li .nav-link{
    color: #ffffff 
}